PORT=5000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:3000
ADMIN_ORIGIN=http://localhost:3001
PUBLIC_SITE_URL=http://localhost:3000
EXTRA_CORS_ORIGINS=http://127.0.0.1:3000,http://127.0.0.1:3001,http://192.168.1.203:3000,http://192.168.1.203:3001
MONGODB_URI=mongodb://127.0.0.1:27017/webdl
JWT_SECRET=change_this_to_a_long_random_secret_at_least_32_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_DAYS=30
ADMIN_SETUP_KEY=change_this_debug_setup_key
ASSET_BASE_URL=https://images.unsplash.com
CATEGORY_IMAGE_MANGNHAKIN=https://horden.ee/cdn/shop/products/kilekasvuhoone-1.jpg?v=1705615474
CATEGORY_IMAGE_MANGXOI=https://vietnamese.stainlessmetalsteel.com/photo/pl141088801-greenhouse_galvanized_steel_rain_gutter_connected_commercial_2_0mm.jpg
CATEGORY_IMAGE_BATLOTHOHDPE=https://cpimg.tistatic.com/9543063/b/6/hdpe-climex-brand-500-micron-geomembrane-farm-pond-liner-sheet.jpeg
CATEGORY_IMAGE_MANGXOILIENNEP=https://vietnamese.stainlessmetalsteel.com/photo/pl141088801-greenhouse_galvanized_steel_rain_gutter_connected_commercial_2_0mm.jpg
CATEGORY_IMAGE_LUOI=https://www.nettarp.com/upload/6947/111-1839963.jpg
CATEGORY_IMAGE_MANGTHUONG=https://vietnamese.stainlessmetalsteel.com/photo/pl141088801-greenhouse_galvanized_steel_rain_gutter_connected_commercial_2_0mm.jpg
CATEGORY_IMAGE_LUOICHANCONTRUNG=https://www.nettarp.com/upload/6947/111-1839963.jpg
CATEGORY_IMAGE_LUOICATNANG=https://www.nettarp.com/upload/6947/111-1839963.jpg
CATEGORY_IMAGE_MANG_PHU_LUONG=https://image.made-in-china.com/2f0j00TceoHPRImGua/Hot-Sale-Silver-Black-Plastic-Mulching-Polyethylene-Plastic-Agricultural-Mulching-Film-Roll-Price.jpg
CATEGORY_IMAGE_KHUNG_VA_KET_CAU_NHA_KINH=https://cdnus.globalso.com/minjiesteel/pre-galvanized-steel-pipe-hot-dipped-galvanized1.jpg
CATEGORY_IMAGE_PHU_KIEN_NHA_KINH=https://hoz-agro.com/uploads/product/000/96/4a31b4ffa831f8d25ec91280e7ad6777_2023-10-19_13-14-26.jpeg
CATEGORY_IMAGE_HE_THONG_TUOI=https://cdn.goodao.net/wiremeshsupplier/H08ee0771115044b78e5705fb18749ef2i.jpg
CATEGORY_IMAGE_KHAY_UOM_VA_VAT_TU_VUON_UOM=https://www.greenhousemegastore.com/cdn/shop/files/BUMS105-135-100_1800x1800.jpg?v=1696441696
CATEGORY_IMAGE_GIA_THE_TRONG_CAY=https://i.ebayimg.com/00/s/MTYwMFgxNjAw/z/VwUAAOSw2NZiqWQW/%24_57.JPG?set_id=8800005007
CATEGORY_IMAGE_ONG_THEP_MA_KEM=https://cdnus.globalso.com/minjiesteel/pre-galvanized-steel-pipe-hot-dipped-galvanized1.jpg
CATEGORY_IMAGE_PHU_KIEN_MANG_XOI=https://vietnamese.stainlessmetalsteel.com/photo/pl141088801-greenhouse_galvanized_steel_rain_gutter_connected_commercial_2_0mm.jpg
CATEGORY_IMAGE_ONG_TUOI_PE=https://chodansinh.net/assets/upload/chodansinh/res/product/45752/pe-plastic-pipe-BqcVkiGbgw.jpg
CATEGORY_IMAGE_DAY_TUOI_NHO_GIOT=https://cdn.goodao.net/wiremeshsupplier/H08ee0771115044b78e5705fb18749ef2i.jpg
CATEGORY_IMAGE_BEC_TUOI=https://5.imimg.com/data5/SELLER/Default/2023/9/341853001/ZI/EB/BT/8020987/mini-compact-micro-sprinkler-1000x1000.jpg
CATEGORY_IMAGE_BO_LOC_NUOC_TUOI=https://www.nuleaf.com.au/cdn/shop/products/Amiadsuperdiscfilter130um0_2_700x700.png?v=1639456044
CATEGORY_IMAGE_VAN_VA_PHU_KIEN_TUOI=https://www.evergreen-irrigation.co.uk/cdn/shop/files/16mm_Barbed_Inline_Manual_Valve.png?v=1730127074&width=1024
